@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
}
<header class="masthead" style="background-image: url('@Url.Content("~/img/home-bg.jpg")')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@localizer["Blogs"]</h1>
                    <span class="subheading">@localizer["DiaryTufan"]</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" onclick="clearForm()" class="btn btn-primary" data-toggle="modal" data-target="#CategoryModal">
        @localizer["AddCategory"]
    </button>
    <table class="table table-hover mb-4">
        <thead>
        <th scope="col">@localizer["Id"]</th>
        <th scope="col">@localizer["Name"]</th>
        <th scope="col">@localizer["Options"]</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="DeleteCategory">@localizer["Delete"]</a>
                        <button class="btn btn-secondary" onclick="updateForm(@item.Id)" type="button">@localizer["Update"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade " id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategory">@localizer["AddCategory"]</h5>
                    <h5 class="modal-title" id="updateCategory">@localizer["UpdateCategory"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/Admin/AddCategory" autocomplete="off">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="Id" id="Id" class="form-control">
                            <input type="text" name="Name" id="Name" class="form-control" placeholder="Please Enter Category..">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary saveDismiss" data-dismiss="modal">@localizer["Close"]</button>
                        <button type="button" class="btn btn-secondary updateDismiss" data-bs-dismiss="modal">@localizer["Close"]</button>
                        <button type="submit" id="saveBtn" class="btn btn-primary">@localizer["Add"]</button>
                        <button type="submit" id="updateBtn" class="btn btn-primary">@localizer["Update"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    $(() => clearForm()); //when new pages opens func start
    function updateForm(Id){
        fetch('/Admin/CategoryDetails?Id='+Id) //? => means i use parameters
            .then(res => res.json())
            .then(res =>{
                $('#Id').val(res.id)
                $('#Name').val(res.name)
            })
        $('#saveBtn').hide();
        $('#addCategory').hide();
        $('.saveDismiss').hide();
        $('#updateCategory').show();
        $('.updateDismiss').show();
        $('#updateBtn').show();
        $('#CategoryModal').modal('show');
    }

    function clearForm() {
        $('#Id').val(null);
        $('#Name').val(null);
        $('#saveBtn').show();
        $('#addCategory').show();
        $('.saveDismiss').show();
        $('#updateBtn').hide();
        $('#updateCategory').hide();
        $('.updateDismiss').hide();
    }
</script>
}