@model IEnumerable<Blog>
@{
    ViewData["Title"] = "BlogList";
}
<header class="masthead" style="background-image: url('@Url.Content("~/img/home-bg.jpg")')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@localizer["Blogs"]</h1>
                    <span class="subheading">@localizer["DiaryTufan"]</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <a href="@Url.Action("BlogAdd", "Blog")" class="float-right btn btn-outline-primary">@localizer["Add New Post"]</a>

    <table class="table table-hover mb-4">
        <thead>
        <th scope="col">Id</th>
        <th scope="col">@localizer["Title"]</th>
        <th scope="col">@localizer["Subtitle"]</th>
        <th scope="col">@localizer["Category"]</th>
        <th scope="col">@localizer["Created Date"]</th>
        <th scope="col">@localizer["Options"]</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Subtitle</td>
                    <td>@item.Category</td>
                    <td>@item.CreateTime</td>
                    <td>
                        @if (item.IsPublish)
                        {
                            <a class="btn btn-success" href="@Url.Action("UnPublish", "Blog", new { id = item.Id})">@localizer["Published"]</a>
                        }
                        else
                        {
                            <a class="btn btn-secondary" href="@Url.Action("Publish", "Blog", new { id = item.Id})">@localizer["Publish"]</a>
                        }
                        <a class="btn btn-danger" href="@Url.Action("DeletePost", "Blog", new { id = item.Id})">@localizer["Delete"]</a>
                        @*  <button class="btn btn-secondary" onclick="updateForm(@item.Id)" type="button">Update</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>